/* Beespace work in progress */
/* BEE colors from a picture of a bee on adobe kuler */
/* #D29A2B #A78949 #89540E #591A00 #F5F3F4 */

/*@import url("http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css");*/ 
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css");
@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css");

/* Large desktops and laptops */
@media (min-width: 1200px) {
	body style {
	  display: block;
	  background: #333;
	  color: white;
	  white-space: pre;
	  width: 20%;
	  margin-top: 1em;
	}

	h1 {
	  font-size: 95%;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	body style {
	  display: block;
	  background: #333;
	  color: white;
	  white-space: pre;
	  width: 30%;
	  margin-top: 1em;
	}

	h1 {
	  font-size: 100%;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	body style {
	  display: block;
	  background: #333;
	  color: white;
	  white-space: pre;
	  width: 45%;
	  margin-top: 1em;
	}

	h1 {
	  font-size: 150%;
	}	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	body style {
	  display: block;
	  background: #333;
	  color: white;
	  white-space: pre;
	  width: 55%;
	  margin-top: 1em;
	}

	h1 {
	  font-size: 200%;
	}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
	body style {
	  display: block;
	  background: #333;
	  color: white;
	  white-space: pre;
	  width: 65%;
	  margin-top: 1em;
	}

	h1 {
	  font-size: 220%;
	}

}

body {
	background-color: #F5F3F4;
	margin: 0.5em;
}

body style {
	display: block;
	background: #333;
	color: white;
	white-space: pre;
	width: 35%;
	margin-top: 1em;
}

#toolbar{
  color:white;
  line-height: 2em;
}