/* Beespace work in progress */
/* ORIGINAL */
a:link {
	color: #f00;
	text-decoration: underline;
	}
a:visited {
	color: #c0c0c0;
	text-decoration: underline;
	}
body {
	background-color: #000;
	color: #ff0;
}

button {
	color: black;
}

#toolbar{
  background:#222;
  color:white;
  line-height: 2em;
}
