/* Beespace work in progress */
/* ORIGINAL */
body {
	background-color: #000;
	color: #ff0;
}

a:link {
  color: #f00;
  text-decoration: underline;
  }
a:visited {
  color: #c0c0c0;
  text-decoration: underline;
  }

button {
	color: black;
}

#toolbar{
  color:white;
  line-height: 2em;
}
