/* Beespace work in progress */
/* BLUE */
body {
	background-color: #072b76;
	color: #0298d1;
}

h1 {
	color: inherit;
    font-weight: 500;
    line-height: 1.1;
}

a:link {
	color: #7bd3d1;
	text-decoration: underline;
	}
a:visited {
	color: #4077eb;
	text-decoration: underline;
	}

button {
	   -moz-box-shadow:inset 0px 0px 39px 0px #3dc21b;
	-webkit-box-shadow:inset 0px 0px 39px 0px #3dc21b;
	   -moz-border-radius:42px;
	-webkit-border-radius:42px;
	box-shadow:inset 0px 0px 39px 0px #3dc21b;
	background-color:transparent;
	border-radius:42px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Trebuchet MS;
	font-weight:bold;
	padding:0px 10px;
	text-decoration:none;
	text-shadow:0px 1px 7px 010500;
}

button:hover {
	background-color:transparent;
}
button:active {
	position:relative;
	top:1px;
}

#toolbar{
	color:white;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	line-height: 2em;
}