/* Beespace work in progress */
/* BLUE */
a:link {
	color: #7BD3D1;
	text-decoration: underline;
	}
a:visited {
	color: #4077EB;
	text-decoration: underline;
	}
body {
	background-color: #072B76;
	color: #0298D1;
}

button {
	color: #7BD3D1;
}

#toolbar{
	background:#222;
	color:white;
	line-height: 2em;
}
