/* Beespace work in progress */
/* BLUE */
body {
	background-color: #072b76;
	color: #0298d1;
    font-family: Impact, Charcoal, sans-serif;
}

h1 {
	color: inherit;
    font-weight: 500;
    line-height: 1.1;
}

a:link {
	color: #7bd3d1;
	text-decoration: underline;
	}
a:visited {
	color: #4077eb;
	text-decoration: underline;
	}

button {
	color: black;
}

#toolbar{
	color:white;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	line-height: 2em;
}
