/* Beespace work in progress */
/* GREEN */
body {
	background-color: #006c00;
	color: #004600;
}

a:link {
	color: #00ec00;
	text-decoration: underline;
	}
a:visited {
	color: #00ac00;
	text-decoration: underline;
	}

button {
	color: black;
}

#toolbar{
	color:white;
	line-height: 2em;
}
