/* Beespace work in progress */
/* GREEN */
a:link {
	color: #00ec00;
	text-decoration: underline;
	}
a:visited {
	color: #00ac00;
	text-decoration: underline;
	}
body {
	background-color: #004600;
	color: #006c00;
}

button {
	color: white;
}