/* Beespace work in progress */
/* HYPERSPACE */
body {
	background-color: black;
	color: GoldenRod;
	margin: 0.5em;
}

body style {
	display: block;
	background: #333;
	color: white;
	white-space: pre;
	width: 35%;
	margin-top: 1em;
}

a:link {
	color: OldLace;
	text-decoration: underline;
}
a:visited {
	color: Olive;
	text-decoration: underline;
}

button {
	color: GoldenRod;
	
}

button:focus {
	outline: none;
}

#toolbar{
	color:white;
	line-height: 2em;
}
