/* Beespace work in progress */
/* NATURAL */
body {
	background-color: black;
	color: GoldenRod;
}

a:link {
	color: OldLace;
	text-decoration: underline;
}
a:visited {
	color: Olive;
	text-decoration: underline;
}

button {
	color: GoldenRod;
}

button:focus {
	outline: none;
}

#toolbar{
	color:white;
	line-height: 2em;
}
