/* Beespace work in progress */
/* HYPERSPACE */
body {
	background-color: black;
	color: darkgrey;
	margin: 0.5em;
}

body style {
	display: block;
	background: #333;
	color: white;
	white-space: pre;
	margin-top: 1em;
}

a:link {
	color: lime;
	text-decoration: underline;
}
a:visited {
	color: silver;
	text-decoration: underline;
}

.button {
   border-top: 1px solid #fffb00;
   background: #1c1b19;
   background: -webkit-gradient(linear, left top, left bottom, from(#f5cc00), to(#1c1b19));
   background: -webkit-linear-gradient(top, #f5cc00, #1c1b19);
   background: -moz-linear-gradient(top, #f5cc00, #1c1b19);
   background: -ms-linear-gradient(top, #f5cc00, #1c1b19);
   background: -o-linear-gradient(top, #f5cc00, #1c1b19);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button:hover {
   border-top-color: #000000;
   background: #000000;
   color: #eeff00;
   }

.button:active {
   border-top-color: #000000;
   background: #000000;
   }

button:focus {
	outline: none;
}

#toolbar{
	color:white;
	line-height: 2em;
}
