/* Beespace work in progress */
/* NATURAL */
body {
	background-color: AntiqueWhite;
	color: SaddleBrown;
}

a:link {
	color: DarkOrange;
	text-decoration: underline;
}
a:visited {
	color: DarkMagenta;
	text-decoration: underline;
}

button {
	color: DarkRed;
}

#toolbar{
	color:white;
	line-height: 2em;
}
