/* Beespace work in progress */
/* ORANGE */
a:link {
	color: #fa6200;
	text-decoration: underline;
	}
a:visited {
	color: #ad4807;
	text-decoration: underline;
	}
body {
	background-color: #07a7ad;
	color: #005d61;
}

button {
	color: #fa6200;
}