/* Beespace work in progress */
/* ORANGE */
body {
	background-color: #fa6200;
	color: #ad4807;
}

a:link {
	color: #07a7ad;
	text-decoration: underline;
	}
a:visited {
	color: #005d61;
	text-decoration: underline;
	}

button {
	color: #fa6200;
}

#toolbar{
	color:white;
	line-height: 2em;
}
