/* Beespace work in progress */
/* RED */
a:link {
	color: #ffed75;
	text-decoration: underline;
	}
a:visited {
	color: #d40d12;
	text-decoration: underline;
	}
body {
	background-color: #450003;
	color: #5c0002;
}

button {
	color: white;
}

#toolbar{
	background:#222;
	color:white;
	line-height: 2em;
}
