/* Beespace work in progress */
/* RED */
body {
	background-color: #5c0002;
	color: black;
}

a:link {
	color: #ffed75;
	text-decoration: underline;
	}
a:visited {
	color: #d40d12;
	text-decoration: underline;
	}

button {
	color: white;
}

#toolbar{
	color:#450003;
	line-height: 2em;
}
