/* Beespace work in progress */
/* SAN FRANCISCO */
/* San Francisco Giants: #000000 (black) | #FB5B1F (orange) | #731313 (dark brown) */
body {
	background-color: black;
	color: #FB5B1F;
	margin: 0.5em;
}

body style {
	display: block;
	background: #333;
	color: white;
	white-space: pre;
	margin-top: 1em;
}

a:link {
	color: OldLace;
	text-decoration: underline;
}
a:visited {
	color: #731313;
	text-decoration: underline;
}

button {
	color: #731313;
}

button:focus {
	outline: none;
}

#toolbar{
	color:white;
	line-height: 2em;
}
